$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

/*fuentes*/
$primary-font: "Poppins", sans-serif;

/*colores*/
$amarillo-suave: #f8f3e8;
$naranja: #e76d21;
$negro: #121622;
$azul-claro: #45AABC; 
$azul-oscuro: #105871; 
$azul-medio: #147596;
